<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Niels MESURE{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="{{ asset('assets/styles/css/app.scss') }}" rel="stylesheet">

    </head>
    <body>
    <h1 class="text-3xl underline font-light">
        Hello world!
    </h1>
    {% block content %}
    {% endblock %}
    </body>
</html>
